# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
.angular/

# .NET
bin/
obj/
*.user
*.suo

# Android
*.iml
.gradle/
local.properties
.idea/
build/

# Docker
data/
.env

# Logs
*.log

# VS Code
.vscode/
/backend/Summit.Traceability/.vs
